
body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-size: cover;
    background-color: beige;
}

h1 {
    color: #127ed1;
    font-size: 4rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
    color: #127ed1;
}

main {
    margin-top: 80px;
}

#trafficLight, #trafficLight1, #trafficLight2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
    margin-left: 47%;
  }